.editor-rating {
	/* &__btn {
		position: fixed;
		right: 0;
		bottom: 0;
		margin: 0 var(--spacing-2) var(--spacing-2) 0;
		z-index: 1;
	} */

	/* &__modal {
		.MuiRating-root {
			display: flex;
			justify-content: center;
		}

		legend {
			width: 100%;
			text-align: center;
			margin: 0 0 5px;
		}
	} */
}