.sign-up {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: #fffdee;
	display: flex;
	flex-direction: column-reverse;

	@media (--large-up) {
		display: grid;
		grid-template-columns: minmax(500px, 30%) 1fr;
	}

	&__wrapper {
		width: 100%;
		max-width: 450px;
		margin: 0 auto;
	}

	&__logo {
		width: 50px;
		margin: 0 auto var(--spacing-4);

		img {
			width: 100%;
		}
	}

	&__features {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;

		&-illustration {
			width: 100%;
			max-width: 75%;
			margin: var(--spacing-4) 0 0;
			display: none;

			@media (--large-up) {
				display: block;
			}
		}
	}

	&__features-items {
		width: 100%;
		display: grid;
		grid-gap: var(--spacing-2);
		margin: var(--spacing-6) 0;
		padding: 0 var(--spacing-4);

		&__item {
			width: 100%;
			display: flex;
			flex-direction: column;
			color: var(--color-heading);

			&-title {
				font-weight: var(--font-weight-bold);
				font-size: 1rem;
				display: flex;
				align-items: center;

				svg {
					margin-right: var(--spacing-1);
					color: #6ad6a4;
				}
			}

			&-description {
				font-size: 1rem;
			}
		}
	}

	&__container {
		width: 100%;
		background-color: #fff;
		padding: var(--spacing-6) var(--spacing-4);
		position: relative;
		position: relative;
		display: flex;
		align-items: center;
		box-shadow: 0 2px 25px rgb(0 0 0 / 5%);

		&[disabled]:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,0.5);
			z-index: 1;
		}
	}

	&__title {
		font-family: var(--font-family-heading);
		font-size: autosize(1041, 1920, 30, 36);
		font-weight: var(--font-weight-black);
		color: var(--color-heading);
		margin: 0;

		display: none;

		@media (--large-up) {
			display: block;
		}
	}

	&__form {
		margin: var(--spacing-3) 0 0;
	}

	&__separator {
		width: 100%;
		background: inherit;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		&-text {
			font-weight: var(--font-weight-regular);
			color: #8897a1;
			background: #fff;
			padding: 0 var(--spacing-1);
		}

		span:not([class]) {
			content: "";
			width: 50%;
			height: 100%;
			border-bottom: 2px solid #f2f3f4;
			position: absolute;
			top: 0;
			transform: translateY(calc(-50% + 1px));
			z-index: -1;
		}

		span:not([class]):first-of-type {
			left: 0;
		}

		span:not([class]):last-of-type {
			right: 0;
		}
	}

	button.google-btn {
		width: 100%;
		color: var(--color-text) !important;
		background-color: #f7f4e2 !important;
		border: 2px solid #f2f3f4 !important;
		border-radius: 6px !important;
		padding: 7px 25px !important;
		font-size: autosize(1040, 1920, 16, 18) !important;
		font-weight: var(--font-weight-regular) !important;
		box-shadow: none !important;
		align-items: center !important;
		justify-content: center !important;
		cursor: pointer !important;
		border: none !important;

		&:hover,
		&:focus {
			opacity: 1 !important;
			border-color: #a1abb8 !important;
		}

		div {
			padding: 0 !important;
			background-color: #e9f0ff !important;
		}

		span {
			font-family: var(--base-font-family);
		}
	}

	&__login {
		color: #8897a1;
		font-weight: var(--font-weight-regular);
		z-index: 1;
		font-family: var(--base-font-family);
		display: block;
		text-align: center;
		font-size: 1rem;
		position: absolute;
		top: 0;
		right: 0;
		margin: var(--spacing-2) var(--spacing-3);

		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	&__container-login &__error-message,
	&__container-details &__error-message {
		margin: 0;
	}

	&__footer {
		display: flex;
		margin: 0 auto var(--spacing-4);

		nav {
			margin: 0 auto;
		}

		ul {
			list-style-type: none;
			display: flex;
			grid-gap: var(--spacing-2);
			padding: 0;

			li,
			a {
				color: #8897a1;
				text-decoration: none;
			}

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}